
.button {
    -fx-background-color: #7b1417;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #831011;
}

.button:pressed {
    -fx-background-color: #dc1c1c;
}

.text-field {
    -fx-border-color: #7b1417;
}

.combo-box {
    -fx-border-color: #7b1417;
    -fx-background-color: #fff;
}

.label {
    -fx-text-fill: #7b1417;
}