
.button {
    -fx-text-fill: white;
    -fx-background-color:  #0e401c;
    /*-fx-cursor: hand;*/
}

.button:hover {
    -fx-background-color: #0f4f1e; /* #053e0e */
}

.button:pressed {
    -fx-background-color: #0fca3b; /* #12df32 */
}

.combo-box {
    -fx-background-color: #fff;
    -fx-border-color:  #0e401c;
}

.label {
    -fx-text-fill:  #0e401c;
}

.table-view {
    -fx-background-color: #fff;
    -fx-border-color:  #0e401c;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header {
    -fx-background-color: #0e401c;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #0000000;
}

.table-row-cell:selected{
    -fx-background-color: #0e401c;
}

.table-row-cell:selected .text{
    -fx-fill: white;
}