
.button {
    -fx-text-fill: white;
    -fx-background-color:  #0e401c;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0f4f1e; /* #053e0e */
}

.button:pressed {
    -fx-background-color: #0fca3b; /* #12df32 */
}

.combo-box {
    -fx-background-color: #fff;
    -fx-border-color:  #0e401c;
}

.label {
    -fx-text-fill:  #0e401c; /* forse qui è -fx-text-fill: colore */
    /* align: center */
    /* forse qui è -fx-font-size: size */
}

.table-view {
    -fx-background-color: #fff;
    -fx-border-color:  #0e401c;
}

/* TODO: aggiungere nella table quello che ho aggiunto in table_style.css */