
.button {
    -fx-text-fill: white; /* forse #fff */
    -fx-background-color:  #0e401c;
    -fx-cursor: hand;
}

.combo {
    -fx-background-color: #fff;
    -fx-border-color:  #0e401c;
}

.label {
    color:  #0e401c; /* forse qui è -fx-text-fill: colore */
    /* align: center */
    /* forse qui è -fx-font-size: size */
}

.table {
    -fx-background-color: #fff;
    -fx-border-color:  #0e401c;
}