
.combo-box {
    -fx-background-color: #fff;
    -fx-border-color: #380b5a;
}

.label {
    -fx-text-fill: #380b5a;
    -fx-font-size: 24px;
}

.button {
    -fx-background-color: #380b5a;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #4a077d; /* #30064c*/
}

.button:pressed {
    -fx-background-color: #961bf3; /* #a63bef*/
}