
.table-view .column-header .label{
    -fx-text-fill: #0000000; /* TODO: scegliere colore */
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #0000000; /* TODO: scegliere colore */
}

.table-row-cell:selected{
    -fx-background-color: #0d7bf2; /* TODO: scegliere colore */
}

.table-row-cell:selected .text{
    -fx-fill: #0000000; /* TODO: scegliere colore */
}

.button {
    -fx-background-color: #0d7bf2;
    -fx-text-fill: white;
}

.button:pressed{
    -fx-background-color: #052d58;
}

.text-field {
    -fx-border-color: #12a2ed;
}

.combo-box {
    -fx-background-color: #fff;
    -fx-border-color:  #12a2ed;
}