
.table-view .column-header .label{
    -fx-text-fill: ; /* TODO: scegliere colore */
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #0000000; /* TODO: scegliere colore */
}

.table-row-cell:selected{
    -fx-background-color: rgb(, , ,) /* TODO: scegliere colore */
}

.table-row-cell:selected .text{
    -fx-fill: ; /* TODO: scegliere colore */
}