
.button {
    -fx-text-fill: white;
    -fx-background-color:  #032207;
    /*-fx-cursor: hand;*/
}

.button:hover {
    -fx-background-color: #021404; /* #053e0e */
}

.button:pressed {
    -fx-background-color: #053a0c; /* #12df32 */
}

.combo-box {
    -fx-background-color: #fff;
    -fx-border-color:  #032207;
}

.label {
    -fx-text-fill:  #032207;
}

.table-view {
    -fx-background-color: #fff;
    -fx-border-color:  #032207;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header {
    -fx-background-color: #032207;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #0000000;
}

.table-row-cell:selected{
    -fx-background-color: #032207;
}

.table-row-cell:selected .text{
    -fx-fill: white;
}