
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header {
    -fx-background-color: #072347;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #0000000;
}

.table-row-cell:selected{
    -fx-background-color: #072347;
}

.table-row-cell:selected .text{
    -fx-fill: white;
}

.button {
    -fx-background-color: #072347;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #041327;
}

.button:pressed{
    -fx-background-color: #0a2e5d;
}

.text-field {
    -fx-border-color: #072347;
}

.combo-box {
    -fx-background-color: #fff;
    -fx-border-color:  #072347;
}