
.combo {
    -fx-background-color: #fff;
    -fx-border-color: #380b5a;
}

.label {
    color: #380b5a; /* forse qui è -fx-text-fill: colore */
    font-size: 24px; /* forse qui è -fx-font-size: size */
}

.button {
    -fx-background-color: #380b5a;
    color: white; /* forse qui è -fx-text-fill: colore */
}